*.iml
.gradle
.idea
## database directory ###
app/src/main/assets
app/src/main/assets/
/app/src/main/assets
/app/src/main/assets/
app/build
app/build/
/app/build
/app/build/
/captures
/captures/
local.properties
.externalNativeBuild
.DS_Store
.cxx
